<h3>Add User</h3>
<div id="input-form">
    <form action="javascript:void(0);" novalidate ng-controller="sendForm" name="form" ng-submit="submit()"
          class="well">
        <div id="input-name" class="form-group">
            <label for="name">Name: </label>
            <input ng-model="user.name" name="name" id="name" type="text" required class="form-control"/>

            <div class="error-message" ng-show="form.$submitted || form.name.$touched">
                <div ng-show="form.name.$error.required">Field 'Name' must be filled in</div>
            </div>
        </div>
        <div id="input-tel" class="form-group">
            <label for="phone">Phone: </label>
            <input ng-model="user.phone" name="phone" id="phone" type="text" required class="form-control"  ng-pattern="/^((8|\+3)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$/i"/>

            <div class="error-message" ng-show="form.$submitted || form.phone.$touched">
                <div ng-show="form.phone.$error.required">Field 'Phone' must be filled in</div>
            </div>
        </div>
        <div id="input-email" class="form-group">
            <label for="email">Email: </label>
            <input ng-model="user.email" name="email" id="email" type="email" required class="form-control" />

            <div class="error-message" ng-show="form.$submitted || form.email.$touched">
                <div ng-show="form.email.$error.required">Field 'Email' must be filled in.</div>
                <div ng-show="form.email.$error.email">Not email format.</div>
            </div>
        </div>
        <div id="submit" class="form-group">
            <input type="submit" value="Submit" class="btn btn-default"/>
        </div>
    </form>
</div>